$primaryBlue:#3D00B7;
$primaryBlueHover: #330394;
$dividerGrey: #F4F4F4;
$searchBarBorder: #EFEFEF;
$searchBarMain: #c5c5c5;
$searchBarPlaceholder: #c0c0c0;
$searchBarIcon: #757575;
$secondaryTextGrey: #565656;
$amazeSmallTextGrey: #696969;
$amazeBackground: rgba(217, 224, 236, 0.2);
$categoryButtonInactivebg: rgba(220, 220, 220,0.2);
$categoryButtonPurpleText: #371C87;
$gridContentBorderWhite: rgba(242, 242, 242, 0.5);
$gridContentGreenText: #00AC4F;
$gridContentGrayText: #838383;
$gridContentPurpleText: #5539A8;
$gridContentTimeBackground: #F5F5F5;
$gridContentTimeBidButton:#4F33A3;
$collectionText: #00ac4f;
$collectionWhite: white;
$collectionVerticalLine: #ececec;
$collectionPercentageRed: #ff1b44;
$signUpDescriptionGrey: #636363;
$collectionNFTButtonBlue: #2639ED;
$footerCopyrightText: #A4A4A4;
$footerLinkText: #3D3D3D;
$footerEmailInputText: #959595;
$footerEmailBorderGray: #F1F1F1;
$footerEmailBorderFocus: #c4c2c2;





