// Integral CF Bold
@font-face {
    font-family: "Integral CF";
    src: url("../fonts/IntegralCF-Bold.otf");
    font-style: normal;
    font-weight: bold;
}

// Integral CF Medium
@font-face {
    font-family: "Integral CF";
    src: url("../fonts/IntegralCF-Medium.otf");
    font-style: normal;
    font-weight: normal;
}

// DM Sans Medium
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

// Averta Demo PE Cutted Demo
@font-face {
    font-family: "Averta Demo PE Cutted Demo";
    src: url("../fonts/AvertaDemoPECuttedDemo-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
